<li>
    <span class="rootSpan">
        <%= data.src.file %> (<%= data.src.line %>,<%= data.src.column %>) -- count: <%= data.site.liveCount %>, size: <%= data.site.liveSize / 1000 %> kb
    </span>
</li>